body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv {
    width: 100%;
    height: 80vh;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  /* #chartdiv {
    width: 100%;
    height: 475px;
  } */
  
  .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jself-start{
    justify-self: center;
  }
  .footer{
    font-size: 0.9rem;
    height: 465px;
    background-color: #5b6770;
    color:white;
    gap: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .footer-img{
    margin-top: 20px;
  }
  .d-ingrid{
    display: inline-grid;
    justify-content: center;
  
    flex-direction: row;
  }
  .img-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }
  
  .img-container>h5{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .flex-row{
    flex-direction: column;
  }
  
  .llista{
    list-style: none;
  }
  .img-responsive{
    display: block;
    width: 75%;
    height: auto;
  }
  
  .btn-primary {
    background-color: #00A3AD;
    border: none;
    font-size: 1.4rem;
    margin: 0.25rem 0.4rem;
    border-radius: 15%;
    padding: 10px 20px;
  color: white;
  } /* Green */
  .h5{
    margin-left: 10px;
    font-size: .95rem;
    font-weight: bold;
    display: inline;
  }
  .text-decoration-none{
    text-decoration: none;
    font-weight: bolder;
  }
  .text-white{
    color: white;
  }
  
  .orientacion{
    flex-direction: column;
  }
  /* #chartdiv{
    width: 100%;
    height: 800px;
  } */
  .footer{
    display: grid;
    grid-template-columns: repeat(1, minmax(100%, 1fr));
  }
  
  .mb-33vh{
    height: 33vh;
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px){
    .img-responsive{
      display: block;
      width: 75%;
      height: auto;
    }
    .grid-col{
      grid-column-start: 1;
      grid-column-end: 3;
    }
     /* #chartdiv{
      width: 100%;
      height: 800px;
    } */
    .footer{
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(2, minmax(50%, 1fr));
      justify-content: center;
    }
  }
  
  @media screen and (min-width:769px) and (max-width:992px) {
    .img-responsive{
      display: inline-block;
      width: auto;
      height: auto;
    }
    /* #chartdiv{
      width: 90%;
      height: 800px;
    } */
    .grid-col{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .footer{
      grid-template-columns: repeat(2, minmax(50%, 1fr));
      justify-content: center;
    }
    .img-responsive{
      display: inline-block;
      width: auto;
      height: 30%;
    }
  }
  @media screen and (min-width:993px) and (max-width:1200px) {
    /* #chartdiv{
      width: 90%;
      height: 800px;
    } */
  
    .img-responsive{
      display: inline-block;
      width: 25%;
      height: 30%;
    }
  
    .footer{
      grid-template-columns: repeat(3, minmax(33%, 1fr));
      justify-content: center;
    }
  }
  @media screen  and (min-width:1201px) {
    /* #chartdiv{
      width: 80%;
      height: 800px;
    } */
    .footer{
      grid-template-columns: repeat(3, minmax(24%, 1fr));
      justify-content: center;
    }
  }
  
  @media screen and (min-width:1201px) {
    .img-responsive{
      width: 40%;
      height: auto;
    }

    .reducir{
      width: 20%;
    }
  
      .footer{
      height: 200px;
      grid-template-columns: repeat(3, minmax(24%, 1fr));
      justify-content: center;
    }
  }
  @media screen and (min-width:769px) {
   
    .orientacion{
      flex-direction: row;
    }
   
  
    .img-container{
      flex-direction: row;
    } 
  
    .h5{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .footer-img{
      margin-right: 20px;
    }
  }
  
  @media screen and (min-width:1200px) {
    .p-absolute {
      position: absolute;
      left: 5px;
    }
  }
  